body{font-family: Arial, Helvetica, sans-serif;}

header{background-image: url(../img/pattern.png);
background-repeat: repeat-x;
background-color: rgba(0, 0, 255, 0.60);
background-size: auto;}

#logo{text-align: left;
width: 35%;}

h1{font-size: 40px;
margin-right: 25%;}

#speciale{color: blue;}

.info{font-size: 20px;}

.testo{font-size: 18px;
font-weight: 500;}

.evidenziato{background-color: yellow;}

li{font-size: 18px;}

table{width: 70%;}

thead{background-color:rgba(0, 0, 255, 0.8);
color: white;}

td{text-align: justify;
font-size: 18px;}

.dispari{background-color: rgba(0,0, 255, 0.25)}